.footer {
    text-align: center;
    background-color: steelblue;
    padding: 15px 20px 5px 20px;
    margin-bottom: 0px;
    margin-top: 350px;
    color: snow;
    font-size: 7pt;
    font-family: sans-serif;
}